<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>excel录入题目</title>
</head>
<style>
    .wrap{
        width: 100px;
        margin: 50px auto;
    }
    .col{
        margin: 10px 0;
    }

</style>
<body>
<div class="wrap">
    <a href="/admin/question/excel">模板文件下载</a>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="col"> <input type="file" id="file" name="file"></div>
        <div><input type="submit" value="提交"></div>
    </form>
</div>
</body>
</html>